/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 23.5122%; }

@media (max-width: 1275.93361px) {
  .camera_container {
    padding-bottom: 300px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraContent {
  height: 100%;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
   display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  color: #fff; }
  .camera_caption .btn {
    background: #000;
    padding: 3px 37px; }
    .camera_caption .btn:hover {
      background: #ffa200; }
    .camera_caption .btn:active {
      background: #ffb533; }
  .camera_caption * + .btn {
    margin-top: 25px; }
  .camera_caption > div {
    padding-bottom: 60px;
  }

@media (max-width: 767px) {

}

@media (max-width: 767px) {
  .camera_caption h3 {
    line-height: 30px; }

  .camera_caption * + .btn {
    margin-top: 14px; } }
@media (max-width: 479px) {
  .camera_caption h3 {
    font-size: 20px; }

  .camera_caption {
    top: 20px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.camera_pag {
  position: relative;
  bottom: 90px; }
  .camera_pag_ul {
    text-align: center; }
    .camera_pag_ul .pag_nav_0 {
      background: url("../images/page-1_slide01_mini.jpg"); }
    .camera_pag_ul .pag_nav_1 {
      background: url("../images/page-1_slide02_mini.jpg"); }
    .camera_pag_ul .pag_nav_2 {
      background: url("../images/page-1_slide03_mini.jpg"); }
    .camera_pag_ul li {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 55px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 3px solid #ffffff;
      line-height: 8px;
      text-align: center;
      cursor: pointer;
      background: #fff;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      z-index: 1; }
      .camera_pag_ul li:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        opacity: 0;
        -moz-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 9px 10px;
        border-color: transparent transparent #fff transparent; }
      .camera_pag_ul li.cameracurrent:before, .camera_pag_ul li:hover:before {
        opacity: 1; }
      .camera_pag_ul li + li {
        margin-left: 14px; }
      .camera_pag_ul li > span {
        display: none; }

@media (max-width: 1199px) {
  .camera_pag {
    bottom: 70px; } }
