/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/
.mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .mailform fieldset {
    border: none; }
  .mailform * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.mailform label {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 23px; }
  .mailform label:first-child {
    margin-top: 0; }
  .mailform label input, .mailform label select, .mailform label textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    padding: 16px 16px 13px 36px;
    line-height: 28px;
    color: #999999;
    background: none;
    border: 1px solid #999999;
    border-radius: none; }
    .mailform label input:-moz-placeholder, .mailform label select:-moz-placeholder, .mailform label textarea:-moz-placeholder {
      color: #999999;
      opacity: 1; }
    .mailform label input::-webkit-input-placeholder, .mailform label select::-webkit-input-placeholder, .mailform label textarea::-webkit-input-placeholder {
      color: #999999;
      opacity: 1; }
    .mailform label input::-moz-placeholder, .mailform label select::-moz-placeholder, .mailform label textarea::-moz-placeholder {
      color: #999999;
      opacity: 1; }
    .mailform label input:-ms-input-placeholder, .mailform label select:-ms-input-placeholder, .mailform label textarea:-ms-input-placeholder {
      color: #999999;
      opacity: 1; }
  .mailform label textarea {
    resize: vertical;
    overflow: auto;
    margin-top: 35px;
    height: 237px;
    z-index: 1; }

/* MF Input
========================================================*/
.mfInput input:-webkit-autofill ~ .mfIcon span:before,
.mfInput textarea:-webkit-autofill ~ .mfIcon span:before {
  color: #2D2D2D; }

/* MF Controls
========================================================*/
.mfControls {
  margin-top: 77px;
  word-spacing: 10px;
  text-align: center;
  float: left; }
  .mfControls .btn {
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all; }
  .mfControls > * {
    word-spacing: normal;
    margin-bottom: 5px; }

/* Mail Form PlaceHolder
========================================================*/
.mfPlaceHolder {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px 16px 13px 36px;
  line-height: 28px;
  color: #999999;
  opacity: 1; }
  *:-webkit-autofill ~ .mfPlaceHolder {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%); }
  .mfPlaceHolder.state-1 {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%); }

/* Mail Form Validation
  ========================================================*/
.mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  bottom: -50px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  background: #111;
  z-index: 3;
  color: #ffa200;
  position: absolute;
  right: -6px;
  width: 159px;
  margin-top: -20px;
  margin-left: 10px;
  padding: 10px;
  min-height: 40px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer; }
  .mfValidation:hover {
    background: #231634; }
  .mfValidation:before {
    content: '';
    position: absolute;
    left: 15px;
    top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #111 transparent; }
  .mfValidation:hover:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #231634 transparent; }
  .mfValidation.error {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards; }
  @media (max-width: 1199px) {
    .mfValidation {
      right: 0; } }
  @media (max-width: 767px) {
    .mfValidation {
      text-align: right;
      top: auto;
      left: auto;
      bottom: 100%;
      right: 0;
      background: none;
      padding: 0;
      margin: 0 0 3px;
      min-height: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mfValidation:before {
        display: none; }
      .mfValidation:hover {
        background: none;
        right: 5px; } }

@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0; } }
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0; } }
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0; } }
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0; } }
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0; } }
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3); }
  1% {
    visibility: visible; }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3); }
  1% {
    visibility: visible; }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3); }
  1% {
    visibility: visible; }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3); }
  1% {
    visibility: visible; }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3); }
  1% {
    visibility: visible; }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
/* Mail Form Date Picker
========================================================*/
/* Mail Form Icon
========================================================*/
/* Mail Form Submit
========================================================*/
/* Mail Form Select
========================================================*/
@-ms-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    transform: translateY(30px);
    opacity: 0; } }
@-o-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    transform: translateY(30px);
    opacity: 0; } }
@-webkit-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    transform: translateY(30px);
    opacity: 0; } }
@-moz-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    transform: translateY(30px);
    opacity: 0; } }
@keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    transform: translateY(30px);
    opacity: 0; } }
@-ms-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
