@charset "UTF-8";
@import url(animate.css);
@import url(fl-great-icon-set.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url(//fonts.googleapis.com/css?family=PT+Sans|Open+Sans:300italic,700,300,600,800,400);
@font-face {
    font-family: 'controllerfour';
    src: url('../fonts/controller_four-webfont.eot');
    src: url('../fonts/controller_four-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/controller_four-webfont.woff2') format('woff2'),
         url('../fonts/controller_four-webfont.woff') format('woff'),
         url('../fonts/controller_four-webfont.ttf') format('truetype'),
         url('../fonts/controller_four-webfont.svg#controllerfour') format('svg');
    font-weight: 100;
    font-style: normal;

}
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #015916;
  color: #999999;
  font: 400 18px/24px 'Kanit', sans-serif;
  -webkit-text-size-adjust: none; }

 

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-family: 'controllerfour', sans-serif;
  text-transform: uppercase; }
  
h2, h3, h4, h5, h6, .terms-list dt {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase; }
  
h4 {
  color: darkgreen;
  text-shadow: 1px 1px #ffffff;}
  
h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
  letter-spacing: -0.96px;
  text-transform: none; }
  
@media (max-width: 479px) {
h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 100;
  letter-spacing: -0.96px;
  text-transform: none; } }
  
h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 4.8px; }

h3 {
  font-size: 10px;
  line-height: 36px;
  font-weight: 800;
  letter-spacing: 6px; }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 4.8px; }

h5 {
  font-size: 20px;
  line-height: 25px; }

h6, .terms-list dt {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  text-transform: none; }

h6.mod1, .terms-list dt.mod1 {
  font-weight: 400;
  color: #000; }

p a:hover, .terms-list dd a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline; }
p .fa, .terms-list dd .fa, .marked-list .fa, .list .fa {
  text-decoration: none; }
p.english {
font: 100 18px/24px 'Kanit', sans-serif;
  -webkit-text-size-adjust: none; }
p.vietnam {
font: 100 18px/24px 'Kanit', sans-serif;
  -webkit-text-size-adjust: none; }

time {
  display: block;
  font-family: 'Times New Roman', serif;
  font-style: italic; }

address {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  line-height: 38px; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:focus {
    outline: none; }
  a:active {
    background-color: transparent; }

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none; }

strong {
  font-weight: 700; }
  
p > strong {
font-weight: 400; 
color: #015916; 
}

h1.center {
font-weight: 400; 
font-size: 18px;
color: #015916; 
}

hr {
  width: 225px;
  border: none;
  border-top: 1px solid rgba(255, 162, 0, 0.5); }

.center {
  text-align: center; }

.br-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.primary-color {
  color: #015916; }

.primary-color2 {
  color: #fcfaed; }
  
.padding-mod {
  padding: 0 30px; }

.secondary-color {
  color: #4f4f4f; }

.fa {
  line-height: inherit; }

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome"; }

.border {
  border-bottom: 1px solid #707070; }

.img-add {
  margin-top: 10px; }

.page {
  overflow: hidden;
  min-height: 500px; }
  .lt-ie9 .page {
    min-width: 1200px; }

h4 + h6 + p, .terms-list h4 + dt + p, .terms-list h4 + h6 + dd, .terms-list h4 + dt + dd, h4 + h6 + p + p, .terms-list h4 + dt + p + p, .terms-list h4 + h6 + dd + p, .terms-list h4 + dt + dd + p, .terms-list h4 + h6 + p + dd, .terms-list h4 + dt + p + dd, .terms-list h4 + h6 + dd + dd, .terms-list h4 + dt + dd + dd {
  padding: 0 120px; }

@media (max-width: 767px) {
  h4 + h6 + p, .terms-list h4 + dt + p, .terms-list h4 + h6 + dd, .terms-list h4 + dt + dd, h4 + h6 + p + p, .terms-list h4 + dt + p + p, .terms-list h4 + h6 + dd + p, .terms-list h4 + dt + dd + p, .terms-list h4 + h6 + p + dd, .terms-list h4 + dt + p + dd, .terms-list h4 + h6 + dd + dd, .terms-list h4 + dt + dd + dd {
    padding: 0; }

  .padding-mod {
    padding: 0; } }
@media (max-width: 479px) {
  h2 {
    font-size: 38px;
    line-height: 38px; } }
/*=======================================================
                       Main Layout
=========================================================*/
* + .terms-list * + dt {
  margin-top: 28px; }

* + .row {
  margin-top: 43px; }

* + .offset {
  margin-top: 28px; }

* + .index-list {
  margin-top: 45px; }

* + p, .terms-list * + dd {
  margin-top: 46px; }

* + hr {
  margin-top: 25px; }

* + time {
  margin-top: 18px; }

* + .btn {
  margin-top: 66px; }

* + h3 {
  margin-top: 39px; }

* + .owl-carousel {
  margin-top: 29px; }

* + .nav-list {
  margin-top: 37px; }

* + .info-list {
  margin-top: 22px; }

* + .box {
  margin-top: 38px; }

* + .br-radius {
  margin-top: 40px; }

* + .mod1 {
  margin-top: 38px; }

* + address {
  margin-top: 27px; }

* + .terms-list {
  margin-top: 28px; }

.mod1 + p, .terms-list .mod1 + dd {
  margin-top: 13px; }

.index-list + .center {
  margin-top: 70px; }

h6 + p, .terms-list dt + p, .terms-list h6 + dd, .terms-list dt + dd {
  margin-top: 35px; }

h6 + .offset, .terms-list dt + .offset {
  margin-top: 13px; }

p + p, .terms-list dd + p, .terms-list p + dd, .terms-list dd + dd {
  margin-top: 25px; }

p + .btn, .terms-list dd + .btn {
  margin-top: 53px; }

.fl-great-icon-set-trophy70 + h6, .terms-list .fl-great-icon-set-trophy70 + dt,
.fl-great-icon-set-like77 + h6,
.terms-list .fl-great-icon-set-like77 + dt,
.fl-great-icon-set-sportive64 + h6,
.terms-list .fl-great-icon-set-sportive64 + dt,
.fl-great-icon-set-chronometer24 + h6,
.terms-list .fl-great-icon-set-chronometer24 + dt {
  margin-top: 38px; }

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block; }
  .brand_name {
    display: inline-block;
    font-family: 'controllerfour', sans-serif;
    color: #281e1f; }
  .brand_img {
    display: inline-block; }
    
  * + .brand_name {
    margin-top: 16px;
    margin-left: 6px; }

/*==================  Backgrounds  ======================*/
.bg-primary, .bg-secondary, .bg-secondary2, .bg-secondary3, .bg-secondary4 {
  color: #fff; }
  .bg-primary p, .bg-primary .terms-list dd, .terms-list .bg-primary dd, .bg-secondary p, .bg-secondary .terms-list dd, .terms-list .bg-secondary dd, .bg-secondary2 p, .bg-secondary2 .terms-list dd, .terms-list .bg-secondary2 dd, .bg-secondary3 p, .bg-secondary3 .terms-list dd, .terms-list .bg-secondary3 dd, .bg-secondary4 p, .bg-secondary4 .terms-list dd, .terms-list .bg-secondary4 dd {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    line-height: 36px; }
  .bg-primary * + p, .bg-primary .terms-list * + dd, .terms-list .bg-primary * + dd, .bg-secondary * + p, .bg-secondary .terms-list * + dd, .terms-list .bg-secondary * + dd, .bg-secondary2 * + p, .bg-secondary2 .terms-list * + dd, .terms-list .bg-secondary2 * + dd, .bg-secondary3 * + p, .bg-secondary3 .terms-list * + dd, .terms-list .bg-secondary3 * + dd, .bg-secondary4 * + p, .bg-secondary4 .terms-list * + dd, .terms-list .bg-secondary4 * + dd {
    margin-top: 36px; }

.bg-primary {
  background: url("../images/bg-primary.jpg") #000 4% no-repeat; }

.bg-secondary {
  background: url("../images/bg-secondary.jpg") #000 no-repeat;
  background-size: cover; }
  .bg-secondary * {
    padding-left: 12px; }

.bg-secondary2 {
  background: url("../images/bg-secondary2.jpg") #000 no-repeat;
  background-size: cover; }

.bg-secondary3 {
  background: url("../images/bg-secondary3.jpg") #000 no-repeat;
  background-size: cover; }

.bg-secondary4 {
  background: url("../images/bg-secondary4.jpg") #000 no-repeat;
  background-size: cover; }

@media (max-width: 1199px) {
  .bg-secondary2 {
    background: url("../images/bg-secondary2.jpg") #000 34% no-repeat;
    background-size: cover; }

  .bg-secondary3 {
    background: url("../images/bg-secondary3.jpg") #000 80% no-repeat;
    background-size: cover; }

  .bg-secondary4 .container .preffix_6 {
    margin-left: 25px; }

  .bg-secondary4 {
    background: url("../images/bg-secondary4.jpg") #000 15% no-repeat;
    background-size: cover; } }
@media (min-width: 1199px) {
	#gallery {
		left:100px; 
	}
	#gallery1 {
		left:100px; 
	}
}
@media (max-width: 979px) {
  .bg-secondary .container .preffix_5 {
    margin-left: 170px; } }
@media (max-width: 767px) {
  .bg-secondary4 {
    background: url("../images/bg-secondary4.jpg") #000 40% no-repeat;
    background-size: cover; }

  .bg-secondary .container .preffix_5, .bg-secondary4 .container .preffix_5 {
    margin-left: 0; }

  .bg-secondary4 .container .preffix_6 {
    margin-left: 0; }

  .bg-secondary {
    background: url("../images/bg-secondary.jpg") #000 22% no-repeat;
    background-size: cover; }

  .bg-secondary4 {
    background: url("../images/bg-secondary4.jpg") #000 30% no-repeat;
    background-size: cover; } }
@media (max-width: 479px) {
  .bg-secondary4 h2 {
    font-size: 28px;
    line-height: 28px; }

  .bg-secondary3 {
    background: url("../images/bg-secondary3.jpg") #000 59% no-repeat;
    background-size: cover; } }
/*==================     Icons     ======================*/
.fl-great-icon-set-trophy70,
.fl-great-icon-set-like77,
.fl-great-icon-set-sportive64,
.fl-great-icon-set-chronometer24 {
  display: inline-block;
  font-size: 100px;
  line-height: 177px;
  height: 177px;
  width: 177px;
  color: #fff;
  background: #015916;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.fl-great-icon-set-trophy70 + h6, .terms-list .fl-great-icon-set-trophy70 + dt,
.fl-great-icon-set-like77 + h6,
.terms-list .fl-great-icon-set-like77 + dt,
.fl-great-icon-set-sportive64 + h6,
.terms-list .fl-great-icon-set-sportive64 + dt,
.fl-great-icon-set-chronometer24 + h6,
.terms-list .fl-great-icon-set-chronometer24 + dt {
  font-weight: 400;
  color: #000; }

/*==================    Buttons    ======================*/
.btn {
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-weight: 800;
  font-family: "Kanit", sans-serif;
  display: inline-block;
  color: #fff;
  background: #015916;
  padding: 2px 18px; }
  .btn:hover {
    background: #000; }
  .btn:active {
    background: #1a1a1a; }

.btn_mod1 {
  padding: 2px 38px; }

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0; }
.box:after {
  clear: both; }
.box_aside {
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block; 
  cursor: pointer;
  }
  .box_aside img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.box_cnt {
  padding: 15px 0 0 35px;
  color: #015916; }
.box_cnt__no-flow {
  overflow: hidden; }

.box_add {
  margin-top: 10px; }

@media (max-width: 1199px) {
  .box .box_cnt {
    padding-top: 0; } }
@media (max-width: 479px) {
  .box .box_cnt__no-flow {
    overflow: visible;
    padding: 0; }

  .box .box_aside {
    margin-right: 20px; } }
/*================== Contact List ======================*/
.contact-list li dl {
  display: block; }
  .contact-list li dl:before, .contact-list li dl:after {
    display: table;
    content: "";
    line-height: 0; }
  .contact-list li dl:after {
    clear: both; }
  .contact-list li dl dt {
    float: left;
    display: inline-block; }
  .contact-list li dl dd {
    float: right;
    display: inline-block; }
    .contact-list li dl dd a[href^="mailto"] {
      margin-right: 20px;
      color: #015916; }
      .contact-list li dl dd a[href^="mailto"]:hover {
        color: #4f4f4f;
        text-decoration: underline; }
      .contact-list li dl dd a[href^="mailto"]:active {
        color: dimgray; }
    .contact-list li dl dd a[href^="callto"] {
      margin-right: 40px; }
      .contact-list li dl dd a[href^="callto"]:hover {
        color: #015916; }
      .contact-list li dl dd a[href^="callto"]:active {
        color: #cc8200; }

@media (max-width: 1199px) {
  .contact-list dl li dd a[href^="callto"],
  .contact-list dl li dd a[href^="mailto"] {
    margin-right: 0; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .contact-list dl li {
    font-size: 15px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .contact-list dl li {
    font-size: 13px; } }
/*==================   Info List   ======================*/
.info-list li a {
  color: #015916; }
  .info-list li a:hover {
    color: #4f4f4f; }
  .info-list li a:active {
    color: #363636; }

/*==================  Terms List  ======================*/
.terms-list dd > a {
  margin-top: 60px;
  display: inline-block; }
.terms-list dd a:hover {
  color: #4f4f4f; }
.terms-list dd a:active {
  color: #363636; }
.terms-list dd + dt {
  margin-top: 57px; }

/*==================    Nav List   ======================*/
.nav-list li {
  display: inline-block; }
  .nav-list li img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff; }
.nav-list li + li {
  margin-left: 62px; }
.nav-list .dot {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 100%; }
  .nav-list .dot:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: -1px;
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9.5px 11px 9.5px;
    border-color: transparent transparent #fff transparent;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    z-index: -1; }
  .nav-list .dot:hover {
    cursor: pointer; }
  .nav-list .dot:hover:before {
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  .nav-list .dot.active:before {
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

@media (max-width: 979px) {
  .nav-list li + li {
    margin-left: 20px; } }
@media (max-width: 767px) {
  .nav-list li + li {
    margin-left: 0; } }
@media (max-width: 479px) {
  .nav-list {
    display: none; } }
/*==================   Index List  ======================*/
.index-list {
  counter-reset: li; }
  .index-list li {
    position: relative;
    z-index: 1; }
    .index-list li:first-child:before {
      right: -18px; }
    .index-list li .wrapp {
      margin-right: 27px; }
    .index-list li h6, .index-list li .terms-list dt, .terms-list .index-list li dt {
      font-weight: 400;
      color: #000;
      text-transform: none; }
    .index-list li:before {
      content: counter(li,decimal);
      counter-increment: li;
      position: absolute;
      bottom: 0;
      right: 27px;
      font-size: 205px;
      line-height: 100px;
      font-weight: 700;
      font-family: "Kanit", sans-serif;
      color: #f1f1f1;
      z-index: -1; }
  .index-list li.grid_4 {
    margin-right: 0; }
  .index-list * + p, .index-list .terms-list * + dd, .terms-list .index-list * + dd {
    margin-top: 12px; }
  .index-list li.grid_1:nth-child(12n + 13),
  .index-list li.grid_2:nth-child(6n + 7),
  .index-list li.grid_3:nth-child(4n + 5),
  .index-list li.grid_4:nth-child(3n + 4),
  .index-list li.grid_6:nth-child(2n + 3) {
    clear: left; }

@media (max-width: 767px) {
  .index-list li:before {
    font-size: 175px;
    line-height: 130px; }

  .index-list li:first-child::before {
    right: 0; } }
@media (max-width: 479px) {
  .index-list li:before {
    font-size: 215px;
    line-height: 180px; } }
.index-list_mod1 li:before {
  font-size: 250px;
  right: -10px;
  line-height: 180px; }

.index-list_mod1 li:first-child:before {
  right: -45px; }

/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
  font-family: "Kanit", sans-serif;
  padding-top: 14px;
  padding-right: 26px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase; }
  .sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 0; }
  .sf-menu:after {
    clear: both; }
  .sf-menu > li {
    position: relative;
    float: left; }
    .sf-menu > li + li {
      margin-left: 10px; }
  .sf-menu a {
    display: block;
    padding: 0 13px; }
  .sf-menu a#viet {
    display: block;
    padding: 0 2px; }
  .sf-menu a#english {
    display: block;
    padding: 0 2px; }
@media (max-width: 979px) {
  .sf-menu {
    text-align: left; } }
.sf-menu > li > a {
  color: #707070; }
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fff;
  background: #015916; }
  .sf-menu > li.sfHover > a, .sf-menu > li > a#viet:hover {
  color: #015916;
  background: #fff; }
  .sf-menu > li.sfHover > a, .sf-menu > li > a#english:hover {
  color: #015916;
  background: #fff; }
.sf-menu > li.active > a {
  color: #fff;
  background: #015916; }
.sf-menu > li.active > a#viet {
  color: #fff;
  background: #fff; }
  .sf-menu > li.active > a#english {
  color: #fff;
  background: #fff; }
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 154px;
  margin-top: 2px;
  left: -23px;
  padding: 10px 0 10px;
  background: #015916;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sf-menu ul > li > a {
  color: #FFF;
  background: #015916;
  padding: 3px 0 2px 16px; }
  .sf-menu ul > li > a#viet {
  color: #FFF;
  background: #FFF;
  padding: 3px 0 2px 16px; }
  .sf-menu ul > li > a#english {
  color: #FFF;
  background: #FFF;
  padding: 3px 0 2px 16px; }
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #015916;
  background: #fcfaed; }

.sf-menu ul ul {
  position: absolute;
  top: -2px;
  left: 164px;
  width: 154px;
  padding: 10px 0 10px;
  z-index: 4; }

.sf-menu ul ul > li > a {
  color: #FFF;
  background: #015916; }
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #015916;
  background: #fcfaed; }

@media (max-width: 767px) {
  .sf-menu {
    display: none; } }
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .rd-mobilemenu.active {
    right: 0; }

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
  .rd-mobilemenu.active .rd-mobilemenu_ul {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .rd-mobilemenu_ul a {
    display: block;
    padding: 14px 25px 16px; }
    .rd-mobilemenu_ul a.active {
      background: #f5f5f5;
      color: #2d2d2d; }
    .rd-mobilemenu_ul a:hover {
      background: #015916;
      color: #FFF; }
    .rd-mobilemenu_ul a .rd-submenu-toggle {
      position: absolute;
      top: 50%;
      right: 11px;
      margin-top: -17.5px;
      width: 32px;
      height: 32px;
      font: 400 10px "FontAwesome";
      line-height: 32px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      z-index: 1;
      background: rgba(0, 0, 0, 0.1); }
      .rd-mobilemenu_ul a .rd-submenu-toggle:after {
        content: '\f078'; }
      .rd-mobilemenu_ul a .rd-submenu-toggle:hover {
        background: #FFF;
        color: #666; }
    .rd-mobilemenu_ul a.rd-with-ul {
      position: relative; }
      .rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  .rd-mobilemenu_ul ul a {
    padding-left: 40px; }
  .rd-mobilemenu_ul ul ul a {
    padding-left: 60px; }
  .rd-mobilemenu_ul:after {
    content: '';
    display: block;
    height: 20px; }

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991; }

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px; }
  .rd-mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after {
      top: 8px; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
      width: 24px;
      height: 4px;
      background-color: #000;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
  .rd-mobilepanel_toggle span {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
      -moz-transform-origin: 1.71429px center;
      -ms-transform-origin: 1.71429px center;
      -o-transform-origin: 1.71429px center;
      -webkit-transform-origin: 1.71429px center;
      transform-origin: 1.71429px center;
      -moz-transform-origin: 1.71429px center;
      -ms-transform-origin: 1.71429px center;
      -o-transform-origin: 1.71429px center;
      -webkit-transform-origin: 1.71429px center;
      transform-origin: 1.71429px center; }
  .rd-mobilepanel_toggle.active span {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
    .rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
      top: 0;
      width: 15px; }
    .rd-mobilepanel_toggle.active span:before {
      -webkit-transform: rotate3d(0, 0, 1, -40deg);
      transform: rotate3d(0, 0, 1, -40deg); }
    .rd-mobilepanel_toggle.active span:after {
      -webkit-transform: rotate3d(0, 0, 1, 40deg);
      transform: rotate3d(0, 0, 1, 40deg); }

@media (max-width: 767px) {
  body {
    padding-top: 56px; }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block; } }
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px; } }
/*==================  Stuck menu  ======================*/
.stuck_container {
  padding-top: 8px;
  padding-bottom: 8px; 
}

.isStuck {
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #4f4f4f; }

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important; } }
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  background: #015916;
  position: fixed;
  right: 66px;
  bottom: 180px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20; }
  .toTop:hover {
    color: #fff;
    background: #4f4f4f;
    text-decoration: none; }

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important; } }
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden; }
  .parallax_image, .parallax_pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: center center;
    will-change: transform; }
  .parallax_image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .parallax_pattern {
    background-repeat: repeat; }
  .parallax_cnt {
    position: relative; }
.parallaxMK {
  background: #000000;
  color: #fff; }
  
.parallax1 .btn:hover, .parallax3 .btn:hover {
  background: #fff;
  color: #015916; }

.parallax1 .img_wrapp, .parallax5 .img_wrapp, .parallax7 .img_wrapp {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  border: 3px solid #fff; }
  .parallax1 .img_wrapp:hover, .parallax5 .img_wrapp:hover, .parallax7 .img_wrapp:hover {
    border: 3px solid transparent; }
  .parallax1 .img_wrapp img, .parallax5 .img_wrapp img, .parallax7 .img_wrapp img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 0;
    width: 100%; }
.parallax1 h4, .parallax1 time, .parallax5 h4, .parallax5 time, .parallax7 h4, .parallax7 time {
  color: #fff; }

.parallax2 {
  color: #fff; }

.parallax3 {
  color: #fff; }
  .parallax3 .btn {
    padding: 2px 58px; }
  .parallax3 .index-list li {
    margin-right: 0; }
    .parallax3 .index-list li h6, .parallax3 .index-list li .terms-list dt, .terms-list .parallax3 .index-list li dt {
      color: #015916; }
    .parallax3 .index-list li:before {
      font-size: 250px;
      line-height: 200px;
      color: rgba(255, 255, 255, 0.1); }
    .parallax3 .index-list li:first-child:before {
      right: -32px; }

.parallax4 h4 {
  color: #fff; }

.parallax5 {
  color: #fff; }
  .parallax5 h6.primary-color, .parallax5 .terms-list dt.primary-color, .terms-list .parallax5 dt.primary-color {
    font-weight: 400;
    font-family: "PT Sans", sans-serif; }
  .parallax5 h4 + h6, .parallax5 .terms-list h4 + dt, .terms-list .parallax5 h4 + dt {
    margin-top: 28px; }
  .parallax5 * + .row {
    margin-top: 35px; }
  .parallax5 * + h6, .parallax5 .terms-list * + dt, .terms-list .parallax5 * + dt {
    margin-top: 45px; }
  .parallax5 h6 + p, .parallax5 .terms-list dt + p, .terms-list .parallax5 dt + p, .parallax5 .terms-list h6 + dd, .terms-list .parallax5 h6 + dd, .parallax5 .terms-list dt + dd, .terms-list .parallax5 dt + dd {
    margin-top: 19px; }

.parallax6 {
  color: #fff; }
  .parallax6 ul li a:hover {
    color: #fff; }

.parallax7 {
  color: #fff; }
  .parallax7 .img_wrapp + h6, .parallax7 .terms-list .img_wrapp + dt, .terms-list .parallax7 .img_wrapp + dt {
    color: #015916;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    margin-top: 44px; }
  .parallax7 h6 + p, .parallax7 .terms-list dt + p, .terms-list .parallax7 dt + p, .parallax7 .terms-list h6 + dd, .terms-list .parallax7 h6 + dd, .parallax7 .terms-list dt + dd, .terms-list .parallax7 dt + dd {
    margin-top: 18px; }

.parallax8 {
  color: #fff; }
  .parallax8 * + p, .parallax8 .terms-list * + dd, .terms-list .parallax8 * + dd {
    margin-top: 25px; }
  .parallax8 .primary-color {
    padding: 0; }
  .parallax8 p, .parallax8 .terms-list dd, .terms-list .parallax8 dd {
    padding: 0 50px; }
  .parallax8 * + .row {
    margin-top: 34px; }

.parallax9 h4 {
  color: #fff; }
.parallax9 .box .box_cnt time {
  color: #fff; }
.parallax9 .wrapp {
  display: block; }
  .parallax9 .wrapp:before, .parallax9 .wrapp:after {
    display: table;
    content: "";
    line-height: 0; }
  .parallax9 .wrapp:after {
    clear: both; }
  .parallax9 .wrapp hr {
    float: left; }
.parallax9 * + .wrapp {
  margin-top: 15px; }
.parallax9 * + time {
  margin-top: 10px; }

@media (max-width: 767px) {
  .parallax8 p, .parallax8 .terms-list dd, .terms-list .parallax8 dd {
    padding: 0; } }
/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .thumb img {
    width: 100%;
    height: auto;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  
  
    .mk_thumb_overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      -moz-transition: 0.1s all ease;
      -o-transition: 0.1s all ease;
      -webkit-transition: 0.1s all ease;
      transition: 0.1s all ease;
      color: #fff;
    background: #fff; }
  
  
  
  .thumb_overlay {
    position: absolute;
    z-index: 999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background: #fff; }
    
    .thumb_overlay:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      font: 400 30px "FontAwesome";
      line-height: 30px;
      margin-top: -15px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      
      .lt-ie9 .thumb_overlay:before {
        display: none; }
        


/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px; }
  header .brand {
    float: left; }
  header .nav {
    float: right; }
  @media (max-width: 979px) {
    header {
      text-align: center; }
      header .brand, header .nav {
        float: none; } }

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #ffffff; }

/*==================      Well     ======================*/
.well {
  padding-top: 60px;
  padding-bottom: 115px; }

.well2 {
  padding-top: 121px;
  padding-bottom: 121px; }

.well3 {
  padding-top: 45px;
  padding-bottom: 50px; }

.well4 {
  padding-top: 100px;
  padding-bottom: 95px; }

.well5 {
  padding-top: 120px;
  padding-bottom: 155px; }

.well__ins1 {
  padding-bottom: 105px; }

.well__ins2 {
  padding-bottom: 92px; }

.well__ins3 {
  padding-bottom: 75px; }

.well__ins4 {
  padding-bottom: 65px; }

.well__ins5 {
  padding-bottom: 50px; }

.well__ins6 {
  padding-bottom: 155px; }

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #015916;
  font: 400 14px/20px "Kanit", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 45px; }
  footer a:hover {
    color: #4f4f4f; }
  footer a:active {
    color: #363636; 
   }

@media (max-width: 479px) {
  footer {
    text-align: center; } }
	
	
	
	/* -------------------------------- 

Primary style
-------------------------------- */

#cd-schedule *, #cd-schedule *::after, #cd-schedule *::before {
  box-sizing: border-box;
}


/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-schedule {
  position: relative;
  font-size:14px;
}

.cd-schedule::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 800px) {
  .cd-schedule {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
  }
  .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule::before {
    content: 'desktop';
  }
}

.cd-schedule .timeline {
  display: none;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  .cd-schedule .timeline li {
    position: relative;
    height: 50px;
  }
  .cd-schedule .timeline li::after {
    /* this is used to create the table horizontal lines */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
  }
  .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }
  .cd-schedule .timeline li span {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  .cd-schedule .timeline li span {
    display: inline-block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .cd-schedule .timeline li:nth-of-type(2n) span {
    display: none;
  }
}

.cd-schedule .events {
  position: relative;
  z-index: 1;
}

.cd-schedule .events .events-group {
  margin-bottom: 30px;
}

.cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}

.cd-schedule .events .top-info > span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}

.cd-schedule .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  /* force its children to stay on one line */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule .events .events-group > ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}

.cd-schedule .events .single-event {
  /* force them to stay on one line */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  -webkit-transition: opacity .2s, background .2s;
  transition: opacity .2s, background .2s;
}

.cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;
}

.cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding: .8em;
}

@media only screen and (min-width: 550px) {
  .cd-schedule .events .single-event {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  .cd-schedule .events .events-group {
    width: 14%;
    float: left;
    border: 1px solid #EAEAEA;
    /* reset style */
    margin-bottom: 0;
  }
  .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  .cd-schedule .events .top-info {
    /* vertically center its content */
    display: table;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    /* reset style */
    padding: 0;
  }
  .cd-schedule .events .top-info > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    /* reset style */
    font-weight: normal;
    margin-bottom: 0;
  }
  .cd-schedule .events .events-group > ul {
    height: 1450px;
    /* reset style */
    display: block;
    overflow: visible;
    padding: 0;
  }
  .cd-schedule .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule .events .events-group > ul::after {
    /* reset style */
    display: none;
  }
  .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    /* reset style */
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
  }
  .cd-schedule .events .single-event a {
    padding: 0.5em;
  }
  .cd-schedule .events .single-event:last-of-type {
    /* reset style */
    margin-right: 0;
  }
  .cd-schedule .events .single-event.selected-event {
    /* the .selected-event class is added when an user select the event */
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .events {
    /* 60px is the .timeline element width */
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
	   it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0;
}

.cd-schedule .event-name,
.cd-schedule .event-date {
  display: block;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.cd-schedule .event-date {
  /* they are not included in the the HTML but added using JavScript */
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}

.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg {
  /* this is used to set a background color for the event and the modal window */
  background: #015916;
  color: white;
}

.cd-schedule .single-event[data-event="event-1"]:hover {
  background: #048022;
  color: white;
}

.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
  background: #A2B9B2;
  color: black;
}

.cd-schedule .single-event[data-event="event-2"]:hover {
  background: #b1c4be;
  color: black;  
}

.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
  background: #443453;
}

.cd-schedule .single-event[data-event="event-3"]:hover {
  background: #513e63;
}

.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}

.cd-schedule .single-event[data-event="event-4"]:hover {
  background: #f7bd7f;
}

.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility .4s, -webkit-transform .4s;
  transition: visibility .4s, -webkit-transform .4s;
  transition: transform .4s, visibility .4s;
  transition: transform .4s, visibility .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.cd-schedule .event-modal .header {
  position: relative;
  height: 70px;
  /* vertically center its content */
  display: table;
  width: 100%;
}

.cd-schedule .event-modal .header .content {
  position: relative;
  z-index: 3;
  /* vertically center inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: .6em 5%;
}

.cd-schedule .event-modal .body {
  position: relative;
  width: 100%;
  /* 70px is the .header height */
  height: calc(100% - 70px);
}

.cd-schedule .event-modal .event-info {
  position: relative;
  z-index: 2;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}

.cd-schedule .event-modal .event-info > div {
  overflow: auto;
  height: 100%;
  padding: 1.4em 5%;
}

.cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
  /* these are the morphing backgrounds - visible on desktop only */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cd-schedule .event-modal .body-bg {
  z-index: 1;
  background: white;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.cd-schedule .event-modal .header-bg {
  z-index: 2;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.cd-schedule .event-modal .close {
  /* this is the 'X' icon */
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  /* replace text with icon */
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  height: 70px;
  width: 70px;
}

.cd-schedule .event-modal .close::before, .cd-schedule .event-modal .close::after {
  /* these are the two lines of the 'X' icon */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-schedule .event-modal .close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-schedule .event-modal .close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-schedule .event-modal .event-date {
  display: none;
}

.cd-schedule .event-modal.no-transition {
  -webkit-transition: none;
  transition: none;
}

.cd-schedule .event-modal.no-transition .header-bg, .cd-schedule .event-modal.no-transition .body-bg {
  -webkit-transition: none;
  transition: none;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .event-modal {
    /* reset style */
    right: auto;
    width: auto;
    height: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    will-change: transform, width, height;
    -webkit-transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .cd-schedule .event-modal .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
  .cd-schedule .event-modal .header .content {
    /* reset style */
    display: block;
    padding: .8em;
  }
  .cd-schedule .event-modal .event-info > div {
    padding: 2em 3em 2em 2em;
  }
  .cd-schedule .event-modal .body {
    height: 100%;
    width: auto;
  }
  .cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .cd-schedule .event-modal .header-bg {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .cd-schedule .event-modal .body-bg {
    opacity: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .cd-schedule .event-modal .event-date {
    display: block;
  }
  .cd-schedule .event-modal .close, .cd-schedule .event-modal .event-info {
    opacity: 0;
  }
  .cd-schedule .event-modal .close {
    width: 40px;
    height: 40px;
    background: transparent;
  }
  .cd-schedule .event-modal .close::after, .cd-schedule .event-modal .close::before {
    background: #222222;
    height: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .event-modal .header .content {
    padding: 1.2em;
  }
}

.cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.cd-schedule.modal-is-open .event-modal .event-info > div {
  /* smooth scroll on iOS touch devices */
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {
  .cd-schedule.animation-completed .event-modal .close,
  .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    /* 	the .animation-completed class is added when the modal animation is completed
			the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}

.cd-schedule .cover-layer {
  /* layer between the content and the modal window */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible;
}

.yogi {
    filter:         url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray; 
}

.yogi:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    cursor: pointer;
}
